@charset "UTF-8";

/* .selected{background:#338cfa; color:#fff;} */

/* sub_visual */
.sub_visual{display:table; width:100%; height:423px; background:url(../image/about/vis_bg.jpg) no-repeat center center;}
.sub_visual > div{display:table-cell; height:100%; vertical-align:middle; text-align:center; color:#fff;padding-top:170px;}

/* sub_content */
.sub_content{overflow:hidden;}
.sub_content > div{float:left;}

.sub_content > div:first-child{width:25%;height:440px;}
.sub_content > div:last-child{width:70%;}

.sub_content > div:first-child{ text-align:center;}
.sub_content > div:first-child > ul{ width:238px; height: 440px; border:1px solid #ddd;}
.sub_content > div:first-child > ul li{vertical-align:middle;font-weight:500; }


.gnb ul li a.selected {color:#338cfa;}
.gnb ul li a:hover.selected {color:#338cfa;cursor:default;}

.sub_content > div:first-child > ul li:nth-child(1){
width:100%; height:164px; line-height:164px;background:url(../image/tit_bg.jpg) no-repeat center center;
font-size:22px; font-weight:500;
}
.sub_content > div:first-child > ul li:nth-child(n+2){height:68px;line-height:68px;border-top:1px solid #ddd;color:#ddd;}
.sub_content > div:first-child > ul li:last-child{border-bottom:1px solid #ddd;}

.sub_content > div:first-child > ul li.selected{background:#338cfa; color:#fff;cursor:default;}
.sub_content > div:first-child > ul li:nth-child(n+2):hover{background:#338cfa; color:#fff;cursor:pointer;}

/*sub_content right */
.sub_content .right .top{height:163px; line-height: 163px;border-bottom:1px solid #ddd;width:100%;}
.sub_content .right .top > h2{float:left;font-size:37px;font-weight:400;}
.sub_content .right .top > ul{font-size:0; float:right;}
.sub_content .right .top li{display:inline-block;font-size:13px; color:#ddd; margin:0 5px;}
.sub_content .right .top li:hover{}


/*sub_content right bottom */
.sub_content .right .bottom{
position:relative;display:flex;flex-direction:column;justify-content: center;
height:840px; width:100%;
box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
letter-spacing:-1px;
}
.sub_content .right .bottom p:nth-child(1){font-size:35px;font-weight:400; color:#008dfd;
line-height:125%; margin-bottom:47px;}
.sub_content .right .bottom p:nth-child(1):after{position:absolute; content:""; width:397px; height:387px;
background:url(../image/about/ceo_man.jpg) no-repeat center center; top:50px; right:0;}

.sub_content .right .bottom > p:nth-child(2){font-size:20px;font-weight:400;line-height:115%;margin-bottom:105px;}
.sub_content .right .bottom > p:nth-child(2) span{display:block;color:#9e9e9e;font-weight:400;}

.sub_content .right .bottom p:nth-child(n+3){margin-bottom:15px;line-height: 120%;font-weight:400;color:#5b5b5b;}





/* sub2 */

/* sub_visual2 */
.sub_visual2{display:table; width:100%; height:423px; background:url(../image/business/vis_bg.jpg) no-repeat center center;}
.sub_visual2 > div{display:table-cell; height:100%; vertical-align:middle; text-align:center; color:#fff;padding-top:170px;}

.sub_content > div:first-child > div {width:238px; height:800px;border-left:1px solid #ddd;border-right:1px solid #ddd;}


/* sub2_bottom */
.sub2_bottom > p:nth-child(1){font-size:35px;font-weight:400; color:#008dfd;line-height:125%; margin-top:47px;}
.sub2_bottom > div:nth-child(2){height:124px;width:100%;
background:#a3b9ce; color:#fff; text-align:center;font-size:18px;padding-top:35px;margin:30px 0;
box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
}
.sub2_bottom > div:nth-child(2) > div{width:100%;}

.sub2_bottom > div:nth-child(3){display:flex;margin-bottom:50px;}
.sub2_bottom > div:nth-child(3) > ul{width:20%;
border-bottom:1px solid #ddd; padding-bottom:20px;
}
.sub2_bottom > div:nth-child(3) > ul li:first-child{font-weight:500;color:#5b5b5b;text-align:center;}
.sub2_bottom > div:nth-child(3) > ul li:last-child{font-size:15px;line-height:110%;}
.sub2_bottom > div:nth-child(3) > ul li{border-top:1px solid #000;padding:15px 10px;}


/* sub2_bottom innovate */
.innovate{width:100%;height:405px; 
background:url(../image/business/innovate_bg.jpg) no-repeat center center;
margin-bottom:30px;padding:60px 50px;color:#fff;
box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
}

.innovate span{font-size:33px;font-weight:600;border-bottom:1px solid #fff;}
.innovate div{font-size:55px;font-weight:600;}
.innovate p{font-size:14px; opacity:0.8;line-height:214%;margin-top:20px;}

.sub2_bottom > ul{display:flex;justify-content: space-around; text-align:center;margin-bottom:50px;}
.sub2_bottom > ul li{width:150px;}
.sub2_bottom > ul li div{font-size:30px;line-height:100%;font-weight:400;margin:10px 0 20px 0;}
.sub2_bottom > ul li p{font-size:15px;}